version: '3.8'

services:
  studio:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    # container_name: shortsai-studio # Removed to allow rolling updates
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=/api
    restart: always
    networks:
      shortsai-network:
        aliases:
          - shortsai-studio

networks:
  shortsai-network:
    external: true
    name: shortsai-network
